@charset "UTF-8";
#mainSection{
	width : 100%;
	height : 100%;
	margin : 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	color : darkslategrey;
}

#mainSection .desc, .outputSection, .subSection{
	display : flex;
	justify-content : center;
}

#mainSection .timeOutputSection{
	display : flex;
	justify-content : space-around;
}

#mainSection .outputSection, #mainSection .timeOutputSection{
	border-top : 1px solid black;
	border-left : 1px solid black;
	border-right : 1px solid black;
	background : rgba(240,160,0,1);
	color : darkslategrey;
}

#mainSection .outputSection td, #mainSection .timeOutputSection td{
	font-size : 24px;
}

#mainSection .dataSection, .weaponSection, .effectSection{
	border-top : 1px solid black;
	color : whitesmoke;
}

#mainSection .dataSection p, .weaponSection p, .effectSection p{
	margin : 0 auto;
	text-align : center;
	border-bottom : 1px solid black;
	font-size : 24px;
	font-weight : bold;
}

#mainSection .btnSection{
	display : grid;
}

#mainSection .dataSection{
	width : 36%;
	border-right : 1px solid black;
}

#mainSection .weaponSection{
	width : 32%;
	border-right : 1px solid black;
}

#mainSection .effectSection{
	width : 32%;
}

#mainSection .finalSection .btnSection{
	display : flex;
	justify-content : center;
}

#mainSection .finalSection .btnSection button{
	width : 50%;
	height : 50px;
	cursor : pointer;
}

#mainSection .space{
	text-align : center;
}

#mainSection input{
	width : 100px;
}

#mainSection select{
	width : 108px;
}

#mainSection .subSection label{
	color : gold;
	display : flex;
	justify-content : flex-end;
}

#mainSection .enemySection{
	border-bottom: 1px solid black;
}

#mainSection .enemySection, #mainSection .timeSection{
	border-left : 1px solid black;
	border-right : 1px solid black;
	background-color : rgb(4,91,83);
	color : whitesmoke;
}

#mainSection .enemySection label, #mainSection .timeSection label{
	color : gold;
	display : flex;
	justify-content : center;
}

#mainSection .enemySection .healthInputs, #mainSection .timeSection .timeInputs{
	display : flex;
	justify-content : space-evenly;
}

#mainSection .enemySection #healthButton, #mainSection .enemySection input{
	width: 160px;
}

#mainSection .timeSection input{
	width : 56px;
}

#mainSection .calc-container {
	width: 850px;
}

#mainSection .calc-container .subSection {
	border: 1px solid black;
	background-color : rgb(0,88,96);
}